


.aboutMe{
	display:flex;
	flex-wrap: wrap;
	border-bottom-color:rgb(120, 120, 120);
border-bottom-style:none;
border-bottom-width:0px;
border-image-outset:0px;
border-image-repeat:stretch;
border-image-slice:100%;
border-image-source:none;
border-image-width:1;
border-left-color:rgb(120, 120, 120);
border-left-style:none;
border-left-width:0px;
border-right-color:rgb(120, 120, 120);
border-right-style:none;
border-right-width:0px;
border-top-color:rgb(120, 120, 120);
border-top-style:none;
border-top-width:0px;
box-sizing:border-box;
color:rgb(120, 120, 120);
display:block;
font-family:"Source Sans Pro", Helvetica, sans-serif;
font-size:32px;
font-stretch:100%;
font-style:normal;
font-variant-caps:normal;
font-variant-east-asian:normal;
font-variant-ligatures:normal;
font-variant-numeric:normal;
font-weight:400;
height:30px;
line-height:48px;
margin-block-end:32px;
margin-block-start:0px;
margin-bottom:32px;
margin-inline-end:0px;
margin-inline-start:0px;
margin-left:0px;
margin-right:0px;
margin-top:0px;
padding-bottom:0px;
padding-left:0px;
padding-right:0px;
padding-top:0px;
text-size-adjust:100%;

}

.desc{
	display:flex;
	flex-wrap: wrap;
	border-bottom-color:rgb(162, 162, 162);
	border-bottom-style:none;
	border-bottom-width:0px;
	border-image-outset:0px;
	border-image-repeat:stretch;
	border-image-slice:100%;
	border-image-source:none;
	border-image-width:1;
	border-left-color:rgb(162, 162, 162);
	border-left-style:none;
	border-left-width:0px;
	border-right-color:rgb(162, 162, 162);
	border-right-style:none;
	border-right-width:0px;
	border-top-color:rgb(162, 162, 162);
	border-top-style:none;
	border-top-width:0px;
	box-sizing:border-box;
	color:rgb(162, 162, 162);
	display:block;
	font-family:"Source Sans Pro", Helvetica, sans-serif;
	font-size:20px;
	font-stretch:100%;
	font-style:normal;
	font-variant-caps:normal;
	font-variant-east-asian:normal;
	font-variant-ligatures:normal;
	font-variant-numeric:normal;
	font-weight:400;
	height: 80px;
	line-height:28px;
	margin-block-end:32px;
	margin-block-start:0px;
	margin-bottom:32px;
	margin-inline-end:0px;
	margin-inline-start:0px;
	margin-left:0px;
	margin-left: 4px;
	margin-right:0px;
	margin-top:0px;
	padding-bottom:0px;
	padding-left:0px;
	padding-right:0px;
	padding-top:0px;
	text-size-adjust:100%;
		
}


/* Header */

#header {
	display: -moz-flex;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;
	-moz-flex-direction: column;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	-moz-align-items: -moz-flex-end;
	-webkit-align-items: -webkit-flex-end;
	-ms-align-items: -ms-flex-end;
	align-items: flex-end;
	-moz-justify-content: space-between;
	-webkit-justify-content: space-between;
	-ms-justify-content: space-between;
	justify-content: space-between;
	background-color: #1f1815;
	background-attachment: scroll,								scroll;
	background-image: url("images/overlay.jpg");
	background-position: top left,							top left;
	background-repeat: repeat,								no-repeat;
	background-size: auto,								150%;
	color: rgba(255, 255, 255, 0.5);
	height: 100%;
	left: 0;
	/* padding: 5em 5em; */
	padding: 2em 2em 5em 5em;
	position: fixed;
	text-align: right;
	top: 0;
	width: 24%;
	
}

	#header > * {
		-moz-flex-shrink: 0;
		-webkit-flex-shrink: 0;
		-ms-flex-shrink: 0;
		flex-shrink: 0;
		width: 100%;
	}

	#header > .inner {
		-moz-flex-grow: 1;
		-webkit-flex-grow: 1;
		-ms-flex-grow: 1;
		flex-grow: 1;
		margin: 0 0 2em 0;
	}

	#header strong, #header b {
		color: #ac5a5a;
		font-size: 1.3em;
	}

	#header h2, #header h3, #header h4, #header h5, #header h6 {
		color: #ffffff;
	}

	#header h1 {
		color: rgba(26, 24, 24, 0.5);
		font-size: 1.35em;
		line-height: 1.75em;
		margin: 0;
	}


	#header .image.avatar {
		margin: 0 0 1em 0;
		width: 7.25em;
		border-radius: 50%;
	}




.containerInfo{
	/* display:flex; */
	display:block;
	flex-wrap: wrap;
	margin-left: 30vw;
    padding: 2em 3em 3em 4em;
	max-width: auto;
	background-color: rgb(247, 232, 232);
	/* width: 59vw; */
	

}

	.sectionOne{
		display:flex;
	    flex-wrap: wrap;
		border-top: 0;
		margin: 0 0 0 0;
		padding-top: 0;
		
	}



	.sectionTwo{
		/* display:flex; */
	    flex-wrap: wrap;
		border-top: solid 2px #bdb9b9;
		margin: 4em 0 0 0;
		padding: 4em 0 0 0;
		display: block;
		/* justify-content: space-around ; */
	}

	.sectionThree{
		display:flex;
	    flex-wrap: wrap;
		border-top: solid 2px #bdb9b9;
		margin: 4em 0 0 0;
		padding: 4em 0 0 0;
		display: block;
	}

	.icons{
		margin: 0 0 1em 0;
		cursor: default;
		list-style: none;
		padding-left: 0;
		box-sizing: inherit;
		margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
	padding-inline-start: 40px;
	display: block;
	}
	.liIcons{
		display: inline-block;
		padding: 0em 0em 0em 1em;
	}

	.row{
		display:flex;
	    flex-wrap: wrap;
		max-width: 980px;
		margin-top: 0;
		margin-left: 15	em;
		flex-wrap: wrap;
		box-sizing: border-box;
		align-items: stretch;

	}

	.columnOne{
		display:flex;
	    flex-wrap: wrap;
		max-width: 980px;
		width: 50%;
		margin: 0 0 2em 0;
		padding: 0 0 0 2em;
		box-sizing: border-box;
		
	}

	.Thumb{
		display:flex;
	    flex-wrap: wrap;
		text-align: center;
			
	}

	.imageTipe{
		display:flex;
	    flex-wrap: wrap;
		background-attachment:scroll;
		background-clip:border-box;
		background-color:rgba(0, 0, 0, 0);
		background-image:url(file:///C:/Users/Laboratoria/Desktop/PortfolioProyect/assets/css/images/overlay.png);
		background-origin:padding-box;
		background-position-x:0%;
		background-position-y:0%;
		background-size:auto;
		border-bottom-left-radius:5.6px;
		border-bottom-right-radius:5.6px;
		border-top-left-radius:5.6px;
		border-top-right-radius:5.6px;
		box-sizing:border-box;
		content:"";
		display:block;
		height:100%;
		left:0px;
		opacity:0.9; 
		top:0px;
		transition-delay:0s;
		transition-duration:0.2s;
		transition-property:opacity;
		transition-timing-function:ease-in-out;
		width:100%;
		/* padding-top: 58.64%; */
		/* position: absolute */
		/* z-index: initial; */
	}

	
.hDos {
    font-size: 1.5em;
	line-height: 1.5em;
	color: #787878;
	font-weight: 400;
	margin: 0 0 1em 0;
	margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
	margin-inline-end: 0px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    font-size: 16pt;
    font-weight: 400;
    line-height: 1.75em;
}

.columnForm{
	max-width: 980px;
	width: 66.66667%;
	padding: 0 0 0 2em;
	box-sizing: border-box;
	border: 0;
    font-size: 100%;
    font: inherit;
	vertical-align: baseline;
	
}

.ulActions{
	display: flex;
    cursor: default;
    list-style: none;
    margin-left: -1em;
	padding-left: 0;
	margin: 0 0 2em 0;
	padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
	vertical-align: baseline;
	margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

.titleCard{
	border-bottom-color:rgb(120, 120, 120);
	color:rgb(120, 120, 120);
	display:block;
	font-family:"Source Sans Pro", Helvetica, sans-serif;
	font-size:18px;
	font-stretch:100%;
	
}

.paragraph{

	border-bottom-color:rgb(162, 162, 162);
	color:rgb(162, 162, 162);
	display:block;
	font-family:"Source Sans Pro", Helvetica, sans-serif;
	font-size:14px;
	font-stretch:100%;
		
}

.title1{
	color: rgba(26, 24, 24, 0.5);
	font-size: 1.35em;
	line-height: 1.75em;
	margin: 0;

}

@media screen and (max-width: 769px) {
	#header {
    width: auto;
	
    /* padding: 6em 4em; */
    position: relative;
    text-align: center;
    top: auto;
    /* width: 100%; */
	display: block;
	/* padding: inherit; */
	/* padding: 3em 1.5em 2.9em 2em; */
	/* padding: 1em 2.1em; */
	margin:inherit;
	margin-left: 0px;
	margin-right: 0px;

	
	}

	#header > .inner {
		flex-grow: 1;
		margin: 2em 0 2em 0;
	}

	.containerInfo {
		width: auto;
		/* margin-left: 30%; */
		margin-left: 0;
		/* padding: 3em 3em 2.9em 3em; */
		scroll-margin-block: 0;
}


}



@media screen and(max-width: 480px){
	#header {
		width: auto;
		flex:1;
		left: 0;
		/* padding: 6em 4em; */
		position: relative;
		text-align: center;
		top: auto;
		
		display: block;
		padding: auto;
		/* padding: 1em 2.1em; */
		margin-left: 0;
		margin-right: 0;
		
		}

		#header > .inner {
			flex-grow: 1;
			/* margin: 0em 0 0em 0; */
		}
	

		.columnOne{
			max-width: 100%;
			width: 90%;
	}

}

@media screen and(max-width:376px){
	#header {
		width: auto;
		flex:1;
		padding: 0px 0px 0px 0px;
	}

	.containerInfo {
		width: auto;
		/* margin-left: 30%; */
		margin-left: 0;
		/* padding: 3em 3em 2.9em 3em; */
		/* scroll-margin-block: 0; */
		padding: 3em 3em 2.9em 3em;
}

.columnOne{
	display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    width: 90%;
    margin: 0 0 2em 0;
    padding: 0 0 0 2em;
    box-sizing: border-box;
}
}